<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/nabil.jpeg" 
                alt="nabil" 
                class="img-thumbnail rounded-circle" 
                width="200px"
            >
            <h1 class="display-4">Nabil Ganteng</h1>
            <p class="lead">Fresh Graduate</p>
        </div>
    </div>
</div>